/*body{ background:lightblue; }*/
/*=========== 自定义css  ============*/

#submit{background: #F66E4A; font-weight: bold; }
#submit:hover{background: #E44D26; color:white;}

.footer{ color:#ccc; width:300px; margin:10px auto; color:#ccc; }

#footerlink{color:#ccc;}
#footerlink:hover{ color:#F66E4A; }